// My love for Bandcamp
// Job Application for Bandcamp
// Valentina Montagna
// Berlin 2015


// Fonts
@import url("//fonts.googleapis.com/css?family=Open\+Sans:400,300,600,700,800")
@import url("//fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic,900,900italic")
// @import url("//fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700")
@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700")

@font-face {
    font-family: "House Slant";
    src: url('HouseSlant.eot');
    src: url("HouseSlant.eot?#iefix") format("embedded-opentype"),
         url("HouseSlant.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

// Colors
$color_bg_intro = #f8f6f3
$color_bg_playlist = #303030

$color_text = #444444
$color_links = #E96985
$color_links_hover = #2193B4

$color_grey = lighten($color_text, 45%)
$color_grey_light = lighten($color_text, 85%)

$color_menu_buttons = lighten($color_text, 30%)

// Mixins
transition()
  -webkit-transition arguments
  transition arguments

// Rounded Corners
$rounded_corners = 4px
$rounded_corners_small = 2px

// General Styles
body
    color $color_text

    font-family 'Merriweather', Georgia, serif
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    a
      font-weight 700
      text-decoration none

      color $color_links
      border-bottom 1px solid @color

      transition(all 0.4s ease)

      &:hover
        color $color_links_hover
        border-bottom 1px solid @color

    strong
      font-weight 700

// Menu Buttons
.menu-button
  font-family 'Open Sans'
  font-weight 700
  font-size 0.75em
  text-transform uppercase
  letter-spacing 1px

  border-bottom none
  padding 0.5em 0.8em
  border-radius $rounded_corners

  color $color_menu_buttons

  transition(all 0.4s ease)

  &:hover
    color $color_links
    background-color lighten($color_bg_intro, 40%)

    border-bottom none

  &:active
    box-shadow inset 0px 0px 3px 2px rgba($color_text, 0.2)

// Buttons
.button
  padding 0.8em 1.2em

  border-radius $rounded_corners
  border-bottom none

  color white
  background-color $color_links

  font-family 'Open Sans', sans-serif
  font-size 0.75em
  font-weight 700
  text-align center
  text-transform uppercase
  letter-spacing 1px

  transition(all 0.3s ease)

  &:hover
      box-shadow 0px 4px 4px -4px rgba($color_grey_light, 0.8)
      border-bottom none

      color white
      background-color $color_links_hover

  &:active
      box-shadow inset 0px 1px 3px 0px darken($color_links_hover, 40%)

  @media screen and (max-width: 640px)
      display block

.btn-small
    @extend .button
    padding 0.6em 1em
    font-size 0.7em

.btn-grey
    @extend .button
    background-color lighten($color_text, 45%)

// Typography Shared Rules

// Section title, consistent across the page
.presentation
.cover-letter
.hire-me
.graphic-projects
.curriculum
.playlist
  .section-title
    font-weight 800

.cover-letter
.graphic-projects
.curriculum
.playlist
  .section-title
    font-size 2em
    text-align center

.cover-letter-subtitle
.experience-subtitle
.skills
.experience-info
  font-family 'Open Sans'
  font-weight 600
  letter-spacing 1px
  text-transform uppercase

// Banner Top
.intro
  background-color $color_bg_intro

  .title
    font-family 'House Slant', script
    font-weight normal
    font-size 6.5em
    line-height 1em

    .highlight
      color $color_links

// Menu Page
.menu-page
  background-color darken($color_bg_intro, 5%)

  .menu-list
    padding 1em 0

    li
      padding-right 0.6em

      .contacts
        color $color_links

// About myself and why I love Bandcamp
.presentation

  .presentation-description
    font-size 1em
    line-height 1.8em

.cover-letter

  // .section-title
  //   margin 3em 0 0 0

  .cover-letter-subtitle
    text-align center

    border-bottom 1px solid $color_grey_light
    padding-bottom 1.2em

  .cover-letter-description
    font-size 0.9em
    line-height 1.8em

    li
      padding-bottom 0.4em

// My Best Works
.graphic-projects
  background-color lighten($color_bg_intro, 15%)

  .project-subtitle
    margin 2em 0 0 0

    font-size 1.3em
    font-weight 800

  .project-description
    margin 0.6em 0 0 0
    padding-right 0.2em

    font-size 0.9em
    line-height 1.8em

  .img-container

    img
      margin 0 auto
      display block
      max-width 100%

  .skills
    margin 1.2em 0 0 0

    font-size 0.7em
    line-height 1.6em

    .skills-label
      color $color_grey

      &::after
        content '\2009'

    .skills-tags
      display inline

      li
        &::after
          content ',\2009'

        &:last-of-type::after
          content ''

// Curriculum
.curriculum
  font-size 1em

  .experience-info
    font-size 0.75em

  .experience-subtitle
    margin 0
    font-size 0.75em

  .experience-description
    font-size 0.9em
    line-height 1.8em

// Playlist
.playlist
  background-color $color_bg_playlist

  .iframe-container
    position relative
    height 0
    overflow hidden
    padding-bottom 37%
    padding-top 316px

    iframe
      position absolute
      top 0
      left 0
      width 100% !important
      height 100% !important



