//Variables

$type_size = 16px
$border_default = 14px
$border_tablet = 7px
$border_phone = 5px

$full = 100%

$width_layout = 1024px
$width_layout_wider = 1180px

$tablet_margins = 10%

@import 'utils'
@import 'grid'